appdirs==1.4.0
click==6.7
envdir==0.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
pyparsing==2.1.10
python-vlc==1.1.2
requests==2.13.0
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.11.15
youtube-dl==2017.2.17
