div {
        width: 70%;
        border: 25px black;
        background-color: #F7F8E8;
        padding: 25px;
        margin: 25px;
        font-family: "Helvetica";
        font-style: normal
        font-size: 20px;
    }
    .divcenter {
        margin: auto;
        text-align: center;
        width: 80%;
        border: 3px solid black;
        padding : 10px;
    }
    .button {
        font-family: "Helvetica", cursive, sans-serif;
        font-weight: :bold;
        font-style:normal;
        font-size: 15px;
        color: black;
        appearance: button;
        text-align:center;
    }
    a.button{
        font-family: "Helvetica", cursive, sans-serif;
        font-weight: bold;
        font-style:normal;
        font-size: 15px;
        color: black;
        appearance: button;
        text-align: center;
    }
    .center {
        text-align:center;
    }
    .header {
        font-family: "Helvetica";
        font-weight: bold;
        font-style: normal;
    }
    body {
        text-align: center;
    }