
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group -- {{ groupcode }}</title>
   <link href = "/static/styles/style.css" rel = "stylesheet" type = "text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
 <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"> </script>
 


</head>
    <body>
        <h1 class = header align = "center">{{groupcode}} Group</h1>
        <div id="buttons" align = "center" class = "divcenter" class = "center">
    <label> <input id="query" type="text"/><button id="search-button" onclick="googleApiClientReady()">Search</button></label>
    
    <h1 id = "header" class = "header" style = "display: none">Search Results</h1>
    
     <div  class = "divcenter" style="border:0px;" id = "videos"> 
          
    </div>           
<script>
$( window ).on( "load", function() {
googleApiClientReady2();
});
  


function googleApiClientReady2() {
  gapi.client.setApiKey('AIzaSyARvwirFktEIi_BTaKcCi9Ja-m3IEJYIRk');
    gapi.client.load('youtube', 'v3', function() {
        query();
        });
}
function googleApiClientReady(){

    gapi.client.setApiKey('AIzaSyARvwirFktEIi_BTaKcCi9Ja-m3IEJYIRk');
    gapi.client.load('youtube', 'v3', function() {
        keyWordsearch();
        });
}
function keyWordsearch() {

  $('#videos').html('');

  $('#videos').show();

  
  var q = $('#query').val();
  var request = gapi.client.youtube.search.list({
    q: q,
    part: 'snippet',
    type: 'video'
  });

  request.execute(function(results) {
    var html = "<form action='/room/add/' method = 'POST' name = 'form' id = 'form'><br/>";
    for(var i in results.items) {
      var item = results.items[i];
      console.log('[%s] Title: %s', item.id.videoId,item.snippet.title);
      var pic = item.snippet.thumbnails.default.url;
      pic = "<img src= " + pic + " ><br/>"

      html += pic +  item.snippet.title;
      html += "<input type = 'radio' name = 'song_url' value = \"" + item.id.videoId + "\"/><br/><br/>";
    }
     html += "<input type='hidden' name='room' value='{{ groupcode }}'>"
    html += "<input type = 'submit' value = 'submit'>";

    html += "</form>";

     $('#videos').append(html);
  });
 
 }

function query() {
  $("li").each(function(index) {
    var q = $(this).text();
    var request = gapi.client.youtube.search.list({
    q: q,
    part: 'snippet',
    type: 'video'
  });

  request.execute(function(results) {

    var item = results.items[0];
    var pic = item.snippet.thumbnails.default.url;
    $('#videos').append("<img src = " + pic + "><br/>" + item.snippet.title + "<br/><br/>");
  });
  });
  
}
 
  </script>
   <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <ul id = "song" style="display:none">

        {% for song in queue %}
        <li >{{ song }}</li>
        {% endfor %}
      </ul>
  
</div>
</body>
</html>
<!--
    <body>
      <h1>{{ groupcode }} Group</h1>
      <form action='/room/add/' method='POST'>
        Queue up a song: <br>
        <input type='text' name='song_url'>
        <input type='hidden' name='room' value='{{ groupcode }}'>
        <input type='submit' value='Submit'>
      </form>
      -->
    


