<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScHoolboy Queue</title>
   <link href = "/static/styles/style.css" rel = "stylesheet" type = "text/css" />
</head>
    <body>
        <h1 class = header align = "center">ScHoolboy Queue</h1>
        <br/>
        <span style = "font-size: 25px; font-family: 'Helvetica'">Home</span>
        <br/>
        <br/>
        <a href="/login/" style = "text-align: center"  ><button class = "button" type = button>Log In</button></a>     
        <a href="/signup/" style = "text-align: center" ><button class = "button" type = button> Sign Up</button></a>
        <br/>
        <br/>
        <div id = "Group" class = "divcenter" align = "center">
        <form action ="http://localhost:5000/group/" method = "POST">
        <form action ="group/" method = "POST">
            <p>Group Code <input type = "text" name = "groupcode" /></p>
            <p><input class = "button" type="submit" value = "Enter" /></p>
        </form>
        </div>
    </body>
</html>
