<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    
    <link href = "/static/styles/style.css" rel = "stylesheet" type = "text/css" />
    
</head>
<body>
    <h1 class = "header" align = "center">ScHoolboy Queue</h1>
    <br/>
    <span style = "font-size: 25px; font-family: 'Helvetica'">Sign Up</span>
    <br/>
    <br/>
    <a href="/"><button class = "button" type = "button">Home</button></a>
    <a href="/login/"><button class = "button" type = "button"> Log In</button></a>
    <br/>
    <br/>
    <div id = "form" class = "divcenter" align = "center">
    <form action ="http://localhost:5000/setcookie/" method = "POST">
         <p>Enter User Name <input type = "text" name = "username" /></p>
         <p>Enter Password <input type = "password" name = "password" /></p>
         <p><input type="submit" value = "Enter" /></p>
    </form>
</body>
</html>